/* @import "tailwindcss/preflight";
@tailwind utilities; */

/* @import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities */

/* Add to your global CSS if needed */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}


@import "tailwindcss";